---
title: "Issue labels can now be scoped!"
author: Suri Patel
author_gitlab: suripatel
author_twitter: gitlab
categories: insights
image_title: '/images/blogimages/scopedlabels.jpg'
description: "A small change with a huge impact: Scoped Labels can help teams customize their workflow and speed up delivery."
tags: features, workflow, agile
postType: content marketing
---

Great news, everyone!
[Hailed as one of the best inventions since sliced bread](https://gitlab.com/gitlab-com/marketing/corporate-marketing/issues/682),
[Scoped Labels](/2019/04/22/gitlab-11-10-released/#scoped-labels) can make your
custom workflows even cooler. We’re excited to share how using this small feature can
accelerate delivery.

Please note that this is a paid feature available to Premium and Ultimate for [self-managed](/pricing/#self-managed) GitLab
or Silver and Gold tiers for [GitLab.com](/pricing).
{: .alert .alert-info.text-center}

## What are GitLab Scoped Labels?

It all started with
[an issue detailing a feature with a simple idea](https://gitlab.com/gitlab-org/gitlab-ee/issues/9175):
Help teams that use issue boards for workflow. With Scoped Labels, teams can apply
mutually exclusive labels (that share the same scope) to an issue, merge request,
or epic, solving custom fields and custom workflow states use cases. Scoped Labels
make it possible for teams to define a basic custom field that avoids confusion and
cleans up issue lists (i.e. fewer duplicate labels).

![Scoped labels](/images/blogimages/scoped-labels.png){: .shadow.center.medium}

By using Scoped Labels, teams can create custom labels and apply them to a
given issue, automatically removing any other existing, related labels. For example,
if you have the labels `workflow::development`, `workflow::review`, and `workflow::deployed`,
representing the workflow states of your team, you can advance the issue
(e.g., `workflow::development` to `workflow::review`) by applying the next label
without having to remove the original one.

You may already be familiar with this behavior, since it’s similar to moving
issues across label lists in an issue board. Now, team members who don’t directly work
in an issue board or who want to advance workflow states consistently in
issues themselves can do so using Scoped Labels.

## How Scoped Labels accelerate delivery

You might be thinking that Scoped Labels is too small of a feature to make a splash,
but hear me out, it can help reduce cycle time. Here's how:

1. If you want a custom field on your issues, like a drop-down with a few items
you can select (e.g., colors or stages), Scoped Labels prevent conflicts where
normally only one color or one stage is possible. By removing conflicts, multiple
teams can scope an issue, merge request, or epic.
1. You can define the workflow steps for an issue (e.g., proposal, design,
development, QA, acceptance, deploy), creating the basis for how you can eventually
measure the flow of work though the system (based on how long issues have specific labels).

These two use cases illustrate how Scoped Labels can help teams work concurrently
on features and measure their efforts.

## Scoped Labels: A feature film

Want to see Scoped Labels in action? Get your popcorn ready and enjoy the show! 🍿

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/4BCBby6du3c" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

Check out the [documentation on Scoped Labels](https://docs.gitlab.com/ee/user/project/labels.html#scoped-labels-premium) for more.

Cover image by [ Jo Szczepanska](https://unsplash.com/@joszczepanska?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText) on [Unsplash](https://unsplash.com/photos/9OKGEVJiTKk)
{: .note}
