%ul.legend-list
  %li
    = partial "/images/maturity/planned.svg"
    &nbsp;
    %b Planned
    = " - Not yet implemented in GitLab, but on our roadmap."
  %li
    = partial "/images/maturity/minimal.svg"
    &nbsp;
    %b Minimal
    = " - A minimal foundation so people can see where we're going and to validate customer need."
  %li
    = partial "/images/maturity/viable.svg"
    &nbsp;
    %b Viable
    = " - Used by users/customers to solve real problems."
  %li
    = partial "/images/maturity/complete.svg"
    &nbsp;
    %b Complete
    = " - Contains a competitive feature set sufficient to displace other single-purpose DevOps tools."
  %li
    = partial "/images/maturity/lovable.svg"
    &nbsp;
    %b Lovable
    = " - Provides an elevated user experience that customers love."